{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% block bootstrap5_title %}Central Office [Roster]{%endblock%}


{%block pagetitle%}Roster Application{%endblock%}
{%block topnavmenu %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</li>
{%endblock%}


{% block title %}
    Welcome to the Roster App
{% endblock %}


{% block content %}
<div class="row">
  {# Main list of people #}
  <div class="col w-90" id="person_list" hx-target="this" hx-swap="innerHTML" hx-get="{% url "roster-load-people" %}" hx-trigger="load" >
  {%block crud%}
  
  {%endblock%}
  <a href="{%url 'person-create' %}">{% bs_icon 'plus-lg' %}</a></p>
  </div>

  {# Control section #}
  
</div>
{%endblock%}