{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% block bootstrap5_title %}Central Office [Roster]{%endblock%}


{%block pagetitle%}Roster Application{%endblock%}
{%block topnavmenu %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</li>
{%endblock%}


{% block title %}
    Welcome to the Roster App
{% endblock %}


{% block content %}
<div class="row">
  {# Main list of people #}
  <div class="col w-90">
  {%block crud%}
  DATA HERE
  {%endblock%}
  </div>

  {# Control section #}
  <div class="col-1">
        {%block filter_block %}
        {% if filter %}
          Filters<p>
            <form action="" method="get" class="form form-inline">
              {% bootstrap_form filter.form layout='inline' %}
              {% bootstrap_button 'Filter' %}
            </form>
        {%endif %}
        {%endblock%}
  </div>
</div>
{%endblock%}