{% extends 'django_bootstrap5/bootstrap5.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block bootstrap5_extra_head %}

<script src="{% static 'htmx.min.js' %}" defer></script>
{% endblock %}


{% block bootstrap5_content %}
{% block nav%}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'person-list' %}" class="nav-link px-0 align-middle px-0">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Roster</span> 
                        </a>
                    </li>


                </ul>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">

                        <span class="d-none d-sm-inline mx-1">User</span>
                    </a>
                    <ul class="dropdown-menu text-small shadow">

                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col py-3">
            <h1>{% block title %}(no title){% endblock %}</h1>
            {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
            {% block content %}(no content){% endblock %}
        </div>
    </div>
</div>


{%endblock%}




{% endblock %}